{% extends 'app/base.html' %}
{% load static %}
{% block title %}Product Detail{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
  <div class="col-sm-6 text-center align-self-center">
   <img src="{{ product.product_image.url }}" alt="" class="img-fluid img-thumbnail">
  </div>
  <div class="col-sm-5 offset-sm-1">
   <h2>Product Title: {{ product.title }}</h2>
   <hr>
   <p>{{ product.description}}</p> <br>
   <h4>1 kg</h4>
   <h4>Rs. {{product.discounted_price}} <small class="fw-light text-decoration-line-through"> Rs.{{product.selling_price}}</small></h4> <br>
   
   {% if request.user.is_authenticated %} 
    {% if item_already_in_cart %}
    <a href="{% url 'showcart' %}" class="btn btn-warning shadow px-5 py-2 ms-4">Go to cart</a>
    {% else %}
       <form action="/add-to-cart" class="d-inline">
        <input type="hidden" name="prod_id" value={{product.id}} id="prod_id">
        <button type="submit" class="btn btn-primary shadow px-5 py-2">Add to Cart</button>
       </form>
    {% endif %}
   {% endif %}

   {% if not request.user.is_authenticated %} 
   <form action="/add-to-cart" class="d-inline">
    <input type="hidden" name="prod_id" value={{product.id}} id="prod_id">
    <button type="submit" class="btn btn-primary shadow px-5 py-2">Add to Cart</button>
   </form>
   {% endif %}

   <a href="{% url 'checkout' %}" class="btn btn-danger shadow px-5 py-2 ms-4">Buy Now</a>
   <h5 class="mt-5">Available Offers</h5>
   <ul>
    <li>Bank Offer 5% Unlimited Cashback on Flipkart Axis Bank Credit</li>
    <li>Special Price Get extra ₹3000 off (price inclusive of discount)</li>
    <li>No cost EMI ₹1,667/month. Standard EMI also available</li>
    <li>Partner Offer ₹2000 Flipkart Gift Card on Every 1000th Transaction with a new Visa Debit/Credit Card</li>
   </ul>
{% comment "" %}
   <div class="col-sm-5 mt-2">
      <h5 class="text-uppercase font-weight-bold">Write Your Review</h5>
         <form class="review-form" method="GET" action="/review">
            {% for prod in product  %}
               <input type="hidden" name="prod_id" id="prod_id" value="{{prod.id}}">
            {% endfor %}
            <div class="form-group">
               <textarea class="input" type="text" name="comment" placeholder="Your Review"></textarea>
            </div>         
            <div class="form-group">
               <div class="input-rating">
                  <p class="text-uppercase font-weight-bold">Your Rating:</p>
                  <div class="rating wrapper">
                     <input type="radio" id="star-5" name="rate" value="5" /><label for="star-5" class="fas fa-star"></label>
                     <input type="radio" id="star-4" name="rate" value="4" /><label for="star-4" class="fas fa-star"></label>
                     <input type="radio" id="star-3" name="rate" value="3" /><label for="star-3" class="fas fa-star"></label>
                     <input type="radio" id="star-2" name="rate" value="2" /><label for="star-2" class="fas fa-star"></label>
                     <input type="radio" id="star-1" name="rate" value="1" /><label for="star-1" class="fas fa-star"></label>


                  </div>
               </div>
            </div>
   </div>
{% endcomment %}
  </div>
 </div>
</div>
{% endblock main-content %}